{% extends "layout.twig" %}

{% block headTitle %}{{ job.title }} :: Nabídky práce ::{% endblock %}

{% block main %}
    {{ cmsBlock("core/header",{"class":"job-header","show_jumbotron": false, title: job.title, subtitle: job.getFormattedSalary() }).render() | raw }}
    <div class="content content gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card card-plain">
                        <div class="card-text">
                            <!--h3 class="font-light">{{ job.title }}</h3>
                            <h4 class="font-thin">Mzda: {{ job.getFormattedSalary() }}</h4-->
                            <div class="font-light">
                                {{ job.description | raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ cmsBlock("job/contactform", {job: job}).render() | raw }}
{% endblock %}