{% if jobs | length > 0 %}
<section class="offers gray-bg">
    <h3 class="font-light">AKTUÁLNÍ NABÍDKY PRÁCE</h3>
    <div class="container">
        <div class="row">
            {% for job in jobs|slice(0,3) %}
            <div class="col-lg-4 col-sm-12">
                <a href="{{ cmsUrl('job_detail',{'slug':job.slug}) }}" class="card offer-item">
                    <div class="card-body">
                        <h5 class="card-title offer-item-title font-light">{{ job.title }}</h5>
                        <p class="card-text  offer-item-description font-light">
                            {{ job.description | striptags | slice(0,100) }}
                            <span class="offer-salary font-regular">Mzda: {{ job.getFormattedSalary() }}</span>
                        </p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="{{ cmsUrl('job') }}" class="btn btn-green">Všechny nabídky</a>
            </div>
        </div>
    </div>
</section>
{% endif %}
